<section class="container m-auto">
    <div class="w-3/4 m-auto flex flex-wrap">
        <div class="w-full md:w-2/3">
            <app-home-slider></app-home-slider>
        </div>
        <div class="w-full md:w-1/3 m-auto md:m-0">
            <img src="assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg"
                alt="main image" class="h-[200px] w-full object-cover" />
            <img src="assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" alt="main image"
                class="h-[200px] w-full object-cover" />
        </div>
    </div>

    <div class="py-10">
        <app-category-slider></app-category-slider>
    </div>

    <app-products></app-products>
</section>