<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide
    ><img
      src="assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg"
      alt="slider image"
      class="h-[400px] object-cover"
  /></ng-template>
  <ng-template carouselSlide
    ><img
      src="assets/images/slider-image-1.jpeg"
      alt="slider image"
      class="h-[400px] object-cover"
  /></ng-template>
  <ng-template carouselSlide
    ><img
      src="assets/images/slider-image-3.jpeg"
      alt="slider image"
      class="h-[400px] object-cover"
  /></ng-template>
  <ng-template carouselSlide
    ><img
      src="assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg"
      alt="slider image"
      class="h-[400px] object-cover"
  /></ng-template>
</owl-carousel-o>
