<section class="flex justify-center items-center px-10 py-28 lg:py-48">
    <form [formGroup]="resetPass" (ngSubmit)="submitLogin()" class="w-full lg:w-1/2 m-auto bg-gray-100 dark:bg-gray-900 p-5 rounded-2xl">
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-envelope text-main"></i> Email address</label>
            <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full focus:ring-main focus:border-main p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="john.doe@company.com"/>
            <div class="text-red-600 px-1">
                @if(resetPass.get('email')?.touched){
                    @if(resetPass.get('email')?.errors?.['required']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Email is required.</p>
                    }
                    @else if(resetPass.get('email')?.errors?.['email']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Invalid email.</p>
                    }
                }
            </div>
        </div> 
        <div class="mb-6">
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-key text-main"></i> New Password:</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full focus:ring-main focus:border-main p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="•••••••••"/>
            <div class="text-red-600 px-1">
                @if(resetPass.get('newPassword')?.touched){
                    @if(resetPass.get('newPassword')?.errors?.['required']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> newPassword is required.</p>
                    }
                    @else if(resetPass.get('newPassword')?.errors?.['pattern']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Invalid newPassword.</p>
                    }
                }
            </div>
        </div> 
        <button type="submit" class="btn-main font-semibold ">Login</button>
    </form>
</section>
