<section class="flex justify-center items-center px-10 py-20 lg:py-32">
    <form [formGroup]="changePassForm" (ngSubmit)="changePass()" class="w-full lg:w-1/2 m-auto bg-gray-100 dark:bg-gray-900 p-5 rounded-2xl">
        <div class="mb-6">
            <label for="currentPassword" class="block mb-2 text-sm font-medium ps-1 text-gray-900 dark:text-white"><i class="fa-solid fa-lock text-main"></i> Current Password</label>
            <input formControlName="currentPassword" type="password" id="currentPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="•••••••••" />
            <div class="text-red-600 px-1">
                @if(changePassForm.get('currentPassword')?.touched){
                    @if(changePassForm.get('currentPassword')?.errors?.['required']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> currentPassword is required.</p>
                    }
                    @else if(changePassForm.get('currentPassword')?.errors?.['pattern']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Invalid password, must start with Capital case and between (6 - 20) characters.</p>
                    }
                }
            </div>
        </div> 
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium ps-1 text-gray-900 dark:text-white"><i class="fa-solid fa-lock text-main"></i> Password</label>
            <input formControlName="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="•••••••••" />
            <div class="text-red-600 px-1">
                @if(changePassForm.get('password')?.touched){
                    @if(changePassForm.get('password')?.errors?.['required']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Password is required.</p>
                    }
                    @else if(changePassForm.get('password')?.errors?.['pattern']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Invalid password, must start with Capital case and between (6 - 20) characters.</p>
                    }
                }
            </div>
        </div> 
        <div class="mb-6">
            <label for="rePassword" class="block mb-2 text-sm font-medium ps-1 text-gray-900 dark:text-white"><i class="fa-solid fa-lock text-main"></i> RePassword</label>
            <input formControlName="rePassword" type="password" id="rePassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="•••••••••" />
            <div class="text-red-600 px-1">
                @if(changePassForm.get('rePassword')?.touched){
                    @if(changePassForm.get('rePassword')?.errors?.['required']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> RePassword is required.</p>
                    }
                    @else if(changePassForm.get('rePassword')?.errors?.['mismatch']){
                        <p><i class="fa-solid fa-circle-exclamation"></i> Passwords doesn't Match.</p>
                    }
                }
            </div>
        </div> 
    
        <button class="btn-main">Confirm</button>
    </form>
</section>
